{% extends 'store/base.html' %}
{% load static %}

{% block title %}Address: {{request.user}}{% endblock title %}

{% block main-content %}
<br><br>
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn btn-success">Address</a></li>
            </ul>
        </div>

        <div class="col-sm-6 offset-sm-1">
            <div class="row">
                {% for ad in add %}
                <div class="col-sm-6">
                    <div class="card m-2 shadow">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p>Name: {{ad.name}}</p>
                            <p>Nation: {{ad.nation}}</p>
                            <p>Region: {{ad.region}}</p>
                            <p>District: {{ad.district}}</p>
                            <p>Mobile: {{ad.mobile}}</p>
                            <p>Zipcode: {{ad.zipcode}}</p>
                            <p class="text-center">
                                <a href="{% url 'updateAddress' pk=ad.id %}" type="button" class="btn btn-success">Update</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>    
</div>
<br><br>
{% endblock main-content %}